[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
telethon = "*"
mysql-connector-python = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
